.navbar {
  position: sticky;
  top: 0;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navLinks a:hover {
  color: #38bdf8;
}

.menuIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .navLinks {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #0f172a;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    display: none;
  }

  .navLinks.active {
    display: flex;
  }
}
